body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: #de39c2;
}

hr {
    border-color: #a27c09;
    max-width: 50%;
}

.buffer {
    height: 12rem;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #1bceea;
    border-color: #1bceea;
}

.btn-primary:hover {
    background-color: #1e3f44;
    border-color: #1e3f44;
    border-width: 4px;
}

.btn-xl {
    padding: 1rem 2rem;
}